/* Details.css */

.table-container {
  margin: 20px;
  align-items: center;
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.employee-table th,
.employee-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.employee-table th {
  background-color: #f2f2f2;
}

.employee-table tbody tr:hover {
  background-color: #f9f9f9;
}

.employee-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.employee-table td a {
  text-decoration: none;
  color: #007bff;
}

.employee-table td a:hover {
  text-decoration: underline;
}

.employee-table td button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 7px;
  padding: 8px 16px;
  cursor: pointer;
  padding: 10px;

}

.employee-table td button:hover {
  background-color: #c82333;
}

.employee-table td button + br {
  display: none;
}

.employee-table td:hover button + br {
  display: block;
  margin-top: 5px;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}



.employee-table td button.edit-button {
  /* Add your styles for the edit button here */
  background-color: #757575;
  color: #fff;
  border: none;
  border-radius: 7px;
  padding: 8px 16px;
  cursor: pointer;
  margin-left: 8px;
  padding: 10px;
  margin: 15px;
}

.employee-table td button.edit-button:hover {
  background-color: #032c58;
}

.delete-icon {
  color: red; /* Change color to red */
  cursor: pointer; /* Add cursor pointer */

}

/* Styling for edit icon */
.edit-icon {
  color: blue; /* Change color to blue */
  cursor: pointer; /* Add cursor pointer */
}


