.edit-form {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 100px;
}

.edit-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.edit-form label {
  display: block;
  margin-bottom: 10px;
}

.edit-form input[type="text"],
.edit-form select {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-form button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.edit-form button:hover {
  background-color: #0056b3;
}

.loading {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
}
