.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.employee-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field label {
  padding : 10px 0px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-field input,
.form-field select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-field select {
  appearance: none;
}

.form-field input[type="file"] {
  border: none;
}

.form-field img {
  display: block;
  margin-top: 10px;
  border-radius: 5px;
  max-width: 100%;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
.remove-button {
  padding: 10px 14px; /* Adjust padding to make the button smaller */
  font-size: 14px; /* Adjust font size to make the button text smaller */
  background-color: #dc3545; /* Red color for the remove button */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;
}

.remove-button:hover {
  background-color: #c82333; /* Darker red color on hover */
}

.submit-button {
  padding: 5px 10px; /* Adjust padding to make the button smaller */
  font-size: 14px; /* Adjust font size to make the button text smaller */
  background-color: #dc3545; /* Red color for the remove button */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* For screens smaller than 600px */
@media (max-width: 600px) {
  .form-container {
    max-width: 100%;
    padding: 10px;
  }

  .employee-form {
    grid-template-columns: 1fr;
  }
}

/* For screens between 600px and 900px */
@media (min-width: 601px) and (max-width: 900px) {
  .form-container {
    max-width: 80%;
    padding: 15px;
  }
}

/* For screens larger than 900px */
@media (min-width: 901px) {
  .form-container {
    max-width: 600px;
    padding: 20px;
  }
}
